body{
    background-color: lightsteelblue;
}
h1 {
    font-family: "Book Antiqua", serif;
    text-align: center;
}
p {
    font-family: "Book Antiqua", serif;
}
.left-container {
    display: flex;
}
.left-par{
    display: flex;
    max-width: 300px;
    margin: 50px;
}
.left-pic{
    display: flex;
    max-width: 300px;
    margin: 50px;
}
