body{
    background-color: lightsteelblue;
}
h1 {
    font-family: "Book Antiqua", serif;
    text-align: center;
}
p {
    font-family: "Book Antiqua", serif;
}

.left-par{
    display: flex;
    width: 500px;
    margin: 10px;
    margin-left: 50px;
}