body{
    background-color: #896c7b;
}
h1 {
    font-family: "Book Antiqua", serif;
    text-align: center;
    background-color: #eae0d5;
    padding: 10px;
    border-radius: 10px;
}
p {
    font-family: "Book Antiqua", serif;
}
.left-container {
    display: flex;
    flex-direction: row;
    margin: 50px;

}
.left-par{
    font-family: "Book Antiqua", serif;
    max-width: 300px;
    margin: 25px;
    background-color: #eae0d5;
    padding: 10px;
    border-radius: 10px;
}
.left-pic{
    margin: 25px;
    border-radius: 10px;
    background-color: #eae0d5;
    padding: 20px;
}
